body {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/040/700/original/pexels-errin-casano-2356059.jpg?1658053595)
    no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
form {
  margin-top: 70px;
}

.overview {
  position: relative;
  max-width: 440px;
  top: 100px;
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr;
  grid-template-rows: 0.2fr 0.2fr 0.5fr;
  gap: 10px 10px;
  grid-template-areas:
    "location location icon"
    "humidity wind temperature"
    "forecast forecast forecast";
  align-items: stretch;
}

.box {
  border-radius: 5px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 5px;
}

.location {
  justify-self: stretch;
  grid-area: location;
  height: 140px;
  width: 290px;
  background-color: rgb(0, 59, 100, 0.6);
}
h1 {
  padding-top: 40px;
  font-size: 36px;
  margin: 0px;
}
h2 {
  font-size: 25px;
  margin: 0px;
}

.weather-icon {
  grid-area: icon;
  background-color: rgb(211, 228, 236, 0.7);
  width: 140px;
  height: 140px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "png"
    "description";
}
.icon-png {
  grid-area: png;
}
.icon-description {
  grid-area: description;
  align-self: center;
}
.main-weather-icon {
  width: 80px;
  max-width: 100%;
  min-width: 50%;
  position: relative;
  top: 10px;
  left: 20px;
}
.description {
  margin-bottom: 10px;
  color: rgb(0, 59, 100);
  font-size: 18px;
  font-weight: lighter;
  line-height: 1;
  text-align: left;
}

.humidity {
  grid-area: humidity;
  width: 140px;
  height: 140px;
  justify-self: start;
  background-color: rgb(0, 59, 100, 0.6);
}
.humidity span {
  display: inline-block;
}
.drop {
  font-size: 20px;
  display: inline-block;
  margin-right: 5px;
}
.humidity h5 {
  position: relative;
  top: -2px;
}
.humidity-percentage {
  display: inline-block;
  position: relative;
  top: 40px;
  padding-left: 3px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
}
.humidity-units {
  position: relative;
  font-size: 16px;
  top: 14px;
  left: -5px;
  display: inline;
}
.humidity-discription {
  position: relative;
  top: 38px;
}

.wind {
  grid-area: wind;
  height: 140px;
  max-width: 140px;
  background-color: rgb(0, 59, 100, 0.6);
}
.wind span {
  display: inline-block;
}
.blowing-wind {
  font-size: 24px;
  margin-right: 5px;
  position: relative;
  top: 30px;
}
.wind-speed-name {
  font-size: 14px;
  font-weight: lighter;
  line-height: 1;
  position: relative;
  top: 30px;
}
.wind-speed {
  font-family: "Roboto Mono", monospace;
  font-size: 40px;
  position: relative;
  top: 36px;
}
.wind-speed-units {
  position: relative;
  font-size: 16px;
  top: 14px;
  display: inline;
}
.temperature {
  grid-area: temperature;
  height: 140px;
  width: 140px;
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  background-color: rgb(0, 59, 100, 0.6);
}

.temperature strong {
  font-family: "Roboto Mono", monospace;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  position: relative;
  top: 42px;
}

.temperature .units {
  position: relative;
  font-size: 16px;
  top: 10px;
  display: inline;
  position: relative;
  text-decoration: none;
  color: rgb(236, 110, 76);
}

.temperature .celsius:hover {
  text-decoration: none;
  color: #fff;
}

.temperature .active {
  color: #fff;
  text-decoration: none;
  cursor: default;
}
.temperature .active:hover {
  text-decoration: none;
}

span {
  display: inline;
  font-size: 40px;
}
.temperature span {
  display: inline-block;
}
.temperature-icon {
  display: inline-block;
  font-size: 20px;
  margin-right: 5px;
  position: relative;
  top: 16px;
}
.temperature-name {
  font-size: 14px;
  font-weight: lighter;
  line-height: 1;
  position: relative;
  top: 18px;
}
.forecast {
  grid-area: forecast;
  width: 440px;
  align-items: stretch;
  text-align: center;
  color: rgb(0, 59, 100);
  background-color: rgb(211, 228, 236, 0.7);
  margin-top: 32px;
}
.forecast-icon {
  width: 50px;
  height: 50px;
  padding: 0;
}
.weather-forecast-date {
  margin-top: 10px;
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temperatures {
  font-size: 14px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
  font-size: 14px;
}
.weather-forecast-temperature-max {
  font-size: 14px;
}
.author {
  font-size: 25px;
  text-align: center;
  font-family: "Inconsolata", monospace;
  color: #fff;
  padding: 40px 90px 20px 40px;
  margin-top: 70px;
}
.code-link {
  font-size: 25px;
  color: rgb(246, 87, 43);
  text-decoration: none;
}
